In [1]:
import pandas as pd
import numpy as np
# Import CSV file
my_df = pd.read_csv("sample_data.csv")
my_df

       Name      HEX               RGB
0     White  #FFFFFF  rgb(100,100,100)
1    Silver  #C0C0C0     rgb(75,75,75)
2      Gray  #808080     rgb(50,50,50)
3     Black  #000000        rgb(0,0,0)
4       Red  #FF0000      rgb(100,0,0)
5    Maroon  #800000       rgb(50,0,0)
6    Yellow  #FFFF00    rgb(100,100,0)
7     Olive  #808000      rgb(50,50,0)
8      Lime  #00FF00      rgb(0,100,0)
9     Green  #008000       rgb(0,50,0)
10     Aqua  #00FFFF    rgb(0,100,100)
11     Teal  #008080      rgb(0,50,50)
12     Blue  #0000FF      rgb(0,0,100)
13     Navy  #000080       rgb(0,0,50)
14  Fuchsia  #FF00FF    rgb(100,0,100)
15   Purple  #800080      rgb(50,0,50)
16      NaN  #584858      rgb(45,3,23)

In [3]:
# Add column from list
index = np.arange(17)
my_df["index"]=index
my_df

       Name      HEX               RGB  index
0     White  #FFFFFF  rgb(100,100,100)      0
1    Silver  #C0C0C0     rgb(75,75,75)      1
2      Gray  #808080     rgb(50,50,50)      2
3     Black  #000000        rgb(0,0,0)      3
4       Red  #FF0000      rgb(100,0,0)      4
5    Maroon  #800000       rgb(50,0,0)      5
6    Yellow  #FFFF00    rgb(100,100,0)      6
7     Olive  #808000      rgb(50,50,0)      7
8      Lime  #00FF00      rgb(0,100,0)      8
9     Green  #008000       rgb(0,50,0)      9
10     Aqua  #00FFFF    rgb(0,100,100)     10
11     Teal  #008080      rgb(0,50,50)     11
12     Blue  #0000FF      rgb(0,0,100)     12
13     Navy  #000080       rgb(0,0,50)     13
14  Fuchsia  #FF00FF    rgb(100,0,100)     14
15   Purple  #800080      rgb(50,0,50)     15
16      NaN  #584858      rgb(45,3,23)     16

In [5]:
# Add default values
my_df['Available']=[True]*len(my_df)
my_df

       Name      HEX               RGB  index  Available
0     White  #FFFFFF  rgb(100,100,100)      0       True
1    Silver  #C0C0C0     rgb(75,75,75)      1       True
2      Gray  #808080     rgb(50,50,50)      2       True
3     Black  #000000        rgb(0,0,0)      3       True
4       Red  #FF0000      rgb(100,0,0)      4       True
5    Maroon  #800000       rgb(50,0,0)      5       True
6    Yellow  #FFFF00    rgb(100,100,0)      6       True
7     Olive  #808000      rgb(50,50,0)      7       True
8      Lime  #00FF00      rgb(0,100,0)      8       True
9     Green  #008000       rgb(0,50,0)      9       True
10     Aqua  #00FFFF    rgb(0,100,100)     10       True
11     Teal  #008080      rgb(0,50,50)     11       True
12     Blue  #0000FF      rgb(0,0,100)     12       True
13     Navy  #000080       rgb(0,0,50)     13       True
14  Fuchsia  #FF00FF    rgb(100,0,100)     14       True
15   Purple  #800080      rgb(50,0,50)     15       True
16      NaN  #584858      rgb(45,3,23)     16       True

In [7]:
# Add a NaN Value
my_df["opacity"]=[np.nan]*len(my_df)
my_df

       Name      HEX               RGB  index  Available  opacity
0     White  #FFFFFF  rgb(100,100,100)      0       True      NaN
1    Silver  #C0C0C0     rgb(75,75,75)      1       True      NaN
2      Gray  #808080     rgb(50,50,50)      2       True      NaN
3     Black  #000000        rgb(0,0,0)      3       True      NaN
4       Red  #FF0000      rgb(100,0,0)      4       True      NaN
5    Maroon  #800000       rgb(50,0,0)      5       True      NaN
6    Yellow  #FFFF00    rgb(100,100,0)      6       True      NaN
7     Olive  #808000      rgb(50,50,0)      7       True      NaN
8      Lime  #00FF00      rgb(0,100,0)      8       True      NaN
9     Green  #008000       rgb(0,50,0)      9       True      NaN
10     Aqua  #00FFFF    rgb(0,100,100)     10       True      NaN
11     Teal  #008080      rgb(0,50,50)     11       True      NaN
12     Blue  #0000FF      rgb(0,0,100)     12       True      NaN
13     Navy  #000080       rgb(0,0,50)     13       True      NaN
14  Fuchsia  #FF00FF    rgb(100,0,100)     14       True      NaN
15   Purple  #800080      rgb(50,0,50)     15       True      NaN
16      NaN  #584858      rgb(45,3,23)     16       True      NaN

In [8]:
# Add column with .insert() - allows position
my_df.insert(2,"Natural",[True]*len(my_df))
my_df

       Name      HEX  Natural               RGB  index  Available  opacity
0     White  #FFFFFF     True  rgb(100,100,100)      0       True      NaN
1    Silver  #C0C0C0     True     rgb(75,75,75)      1       True      NaN
2      Gray  #808080     True     rgb(50,50,50)      2       True      NaN
3     Black  #000000     True        rgb(0,0,0)      3       True      NaN
4       Red  #FF0000     True      rgb(100,0,0)      4       True      NaN
5    Maroon  #800000     True       rgb(50,0,0)      5       True      NaN
6    Yellow  #FFFF00     True    rgb(100,100,0)      6       True      NaN
7     Olive  #808000     True      rgb(50,50,0)      7       True      NaN
8      Lime  #00FF00     True      rgb(0,100,0)      8       True      NaN
9     Green  #008000     True       rgb(0,50,0)      9       True      NaN
10     Aqua  #00FFFF     True    rgb(0,100,100)     10       True      NaN
11     Teal  #008080     True      rgb(0,50,50)     11       True      NaN
12     Blue  #0000FF     True      rgb(0,0,100)     12       True      NaN
13     Navy  #000080     True       rgb(0,0,50)     13       True      NaN
14  Fuchsia  #FF00FF     True    rgb(100,0,100)     14       True      NaN
15   Purple  #800080     True      rgb(50,0,50)     15       True      NaN
16      NaN  #584858     True      rgb(45,3,23)     16       True      NaN

In [9]:
# Add column with .assign() - creates new dataframe
my_df2 = my_df.assign(Synthetic=[False]*len(my_df))
my_df2

,Name,HEX,Natural,RGB,index,Available,opacity,Synthetic
0,White,#FFFFFF,True,"rgb(100,100,100)",0,True,NaN,False
1,Silver,#C0C0C0,True,"rgb(75,75,75)",1,True,NaN,False
2,Gray,#808080,True,"rgb(50,50,50)",2,True,NaN,False
3,Black,#000000,True,"rgb(0,0,0)",3,True,NaN,False
4,Red,#FF0000,True,"rgb(100,0,0)",4,True,NaN,False
5,Maroon,#800000,True,"rgb(50,0,0)",5,True,NaN,False
6,Yellow,#FFFF00,True,"rgb(100,100,0)",6,True,NaN,False
7,Olive,#808000,True,"rgb(50,50,0)",7,True,NaN,False
8,Lime,#00FF00,True,"rgb(0,100,0)",8,True,NaN,False
9,Green,#008000,True,"rgb(0,50,0)",9,True,NaN,False
10,Aqua,#00FFFF,True,"rgb(0,100,100)",10,True,NaN,False
11,Teal,#008080,True,"rgb(0,50,50)",11,True,NaN,False
12,Blue,#0000FF,True,"rgb(0,0,100)",12,True,NaN,False
13,Navy,#000080,True,"rgb(0,0,50)",13,True,NaN,False
14,Fuchsia,#FF00FF,True,"rgb(100,0,100)",14,True,NaN,False
15,Purple,#800080,True,"rgb(50,0,50)",15,True,NaN,False
16,NaN,#584858,True,"rgb(45,3,23)",16,True,NaN,False