In [1]:
import pandas as pd
import numpy as np
#  import csv file
my_df = pd.read_csv("sample_data.csv")
my_df

       Name      HEX               RGB
0     White  #FFFFFF  rgb(100,100,100)
1    Silver  #C0C0C0     rgb(75,75,75)
2      Gray  #808080     rgb(50,50,50)
3     Black  #000000        rgb(0,0,0)
4       Red  #FF0000      rgb(100,0,0)
5    Maroon  #800000       rgb(50,0,0)
6    Yellow  #FFFF00    rgb(100,100,0)
7     Olive  #808000      rgb(50,50,0)
8      Lime  #00FF00      rgb(0,100,0)
9     Green  #008000       rgb(0,50,0)
10     Aqua  #00FFFF    rgb(0,100,100)
11     Teal  #008080      rgb(0,50,50)
12     Blue  #0000FF      rgb(0,0,100)
13     Navy  #000080       rgb(0,0,50)
14  Fuchsia  #FF00FF    rgb(100,0,100)
15   Purple  #800080      rgb(50,0,50)
16      NaN  #584858      rgb(45,3,23)

In [2]:
# Grab Row - Method 1 location
my_df.loc[5]

Name         Maroon
HEX         #800000
RGB     rgb(50,0,0)
Name: 5, dtype: object

In [3]:
# Grab Row - Method 2 index location
my_df.iloc[3]

Name         Black
HEX        #000000
RGB     rgb(0,0,0)
Name: 3, dtype: object

In [5]:
# Specific Points (row and column)
# my_df.loc['row','column']
my_df.loc[5,'Name']

'Maroon'

In [7]:
# Subsets
# my_df.loc[['row','row'],['column','column']]
my_df.loc[[1,3],['Name','RGB']]

     Name            RGB
1  Silver  rgb(75,75,75)
3   Black     rgb(0,0,0)