In [1]:
import pandas as pd
import numpy as np

In [2]:
# import csv file
my_data = pd.read_csv('sample_data.csv')
my_data

       Name      HEX               RGB
0     White  #FFFFFF  rgb(100,100,100)
1    Silver  #C0C0C0     rgb(75,75,75)
2      Gray  #808080     rgb(50,50,50)
3     Black  #000000        rgb(0,0,0)
4       Red  #FF0000      rgb(100,0,0)
5    Maroon  #800000       rgb(50,0,0)
6    Yellow  #FFFF00    rgb(100,100,0)
7     Olive  #808000      rgb(50,50,0)
8      Lime  #00FF00      rgb(0,100,0)
9     Green  #008000       rgb(0,50,0)
10     Aqua  #00FFFF    rgb(0,100,100)
11     Teal  #008080      rgb(0,50,50)
12     Blue  #0000FF      rgb(0,0,100)
13     Navy  #000080       rgb(0,0,50)
14  Fuchsia  #FF00FF    rgb(100,0,100)
15   Purple  #800080      rgb(50,0,50)

In [5]:
# Grab first five rows
my_data.head()

     Name      HEX               RGB
0   White  #FFFFFF  rgb(100,100,100)
1  Silver  #C0C0C0     rgb(75,75,75)
2    Gray  #808080     rgb(50,50,50)
3   Black  #000000        rgb(0,0,0)
4     Red  #FF0000      rgb(100,0,0)

In [7]:
# Grab certain number of rows
my_data.head(8)

     Name      HEX               RGB
0   White  #FFFFFF  rgb(100,100,100)
1  Silver  #C0C0C0     rgb(75,75,75)
2    Gray  #808080     rgb(50,50,50)
3   Black  #000000        rgb(0,0,0)
4     Red  #FF0000      rgb(100,0,0)
5  Maroon  #800000       rgb(50,0,0)
6  Yellow  #FFFF00    rgb(100,100,0)
7   Olive  #808000      rgb(50,50,0)

In [8]:
# Grab last 5 rows
my_data.tail()

       Name      HEX             RGB
11     Teal  #008080    rgb(0,50,50)
12     Blue  #0000FF    rgb(0,0,100)
13     Navy  #000080     rgb(0,0,50)
14  Fuchsia  #FF00FF  rgb(100,0,100)
15   Purple  #800080    rgb(50,0,50)

In [9]:
# Grab certain number of last rows
my_data.tail(7)

       Name      HEX             RGB
9     Green  #008000     rgb(0,50,0)
10     Aqua  #00FFFF  rgb(0,100,100)
11     Teal  #008080    rgb(0,50,50)
12     Blue  #0000FF    rgb(0,0,100)
13     Navy  #000080     rgb(0,0,50)
14  Fuchsia  #FF00FF  rgb(100,0,100)
15   Purple  #800080    rgb(50,0,50)

In [11]:
# Get info about the dataframe
my_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    16 non-null     object
 1   HEX     16 non-null     object
 2   RGB     16 non-null     object
dtypes: object(3)
memory usage: 516.0+ bytes

In [12]:
# Get shape of rows and columns
my_data.shape

(16, 3)

In [18]:
# Get number of dimensions
my_data.ndim

2

In [19]:
#  Get the column datatypes
my_data.dtypes

Name    object
HEX     object
RGB     object
dtype: object

In [21]:
# Get some statistics about the data
my_data.describe()

         Name      HEX               RGB
count      16       16                16
unique     16       16                16
top     White  #FFFFFF  rgb(100,100,100)
freq        1        1                 1

In [22]:
# Describe a specific column
my_data['Name'].describe()

count        16
unique       16
top       White
freq          1
Name: Name, dtype: object

In [23]:
# Select specific column using Brackets
my_data['HEX']

0     #FFFFFF
1     #C0C0C0
2     #808080
3     #000000
4     #FF0000
5     #800000
6     #FFFF00
7     #808000
8     #00FF00
9     #008000
10    #00FFFF
11    #008080
12    #0000FF
13    #000080
14    #FF00FF
15    #800080
Name: HEX, dtype: object

In [24]:
# Select specific column using dot notation
my_data.RGB

0     rgb(100,100,100)
1        rgb(75,75,75)
2        rgb(50,50,50)
3           rgb(0,0,0)
4         rgb(100,0,0)
5          rgb(50,0,0)
6       rgb(100,100,0)
7         rgb(50,50,0)
8         rgb(0,100,0)
9          rgb(0,50,0)
10      rgb(0,100,100)
11        rgb(0,50,50)
12        rgb(0,0,100)
13         rgb(0,0,50)
14      rgb(100,0,100)
15        rgb(50,0,50)
Name: RGB, dtype: object

In [28]:
# Select specific column using notation
my_data.iloc[:,2]

0     rgb(100,100,100)
1        rgb(75,75,75)
2        rgb(50,50,50)
3           rgb(0,0,0)
4         rgb(100,0,0)
5          rgb(50,0,0)
6       rgb(100,100,0)
7         rgb(50,50,0)
8         rgb(0,100,0)
9          rgb(0,50,0)
10      rgb(0,100,100)
11        rgb(0,50,50)
12        rgb(0,0,100)
13         rgb(0,0,50)
14      rgb(100,0,100)
15        rgb(50,0,50)
Name: RGB, dtype: object